* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading-squish {
    font-variation-settings: 'opsz' 14, 'wdth' 100;
    transition: font-variation-settings 0.3s ease;
}

.heading-squish:hover {
    font-variation-settings: 'opsz' 14, 'wdth' 90;
}
